* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 30px);
    width: calc(50vw - 20px);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;

}

.modal h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.modal_gallery {
    overflow: auto; /* permet de créer un scroll sur la gallerie de la modale si beaucoup de projets */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 25%;

}

.modal_gallery p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

.x_mark {
    display: flex;
    justify-content: end;
    width: 95%;
}

.fa-xmark {
    text-align: end;
    cursor: pointer;
}

.modal_img_wrapper {
    position: relative;
    width: 80%;

}

.modal img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.fa-arrows-up-down-left-right{
    visibility: hidden;
    right: 18px;
    
}

.fa-trash-can {
    right: 3px;
    cursor: pointer;
}

.fa-trash-can, .fa-arrows-up-down-left-right {
    font-size: 0.4rem;
    position: absolute;
    top: 3px;
    background-color: black;
    color: white;
    padding: 0.2rem;
}

.modal_img_wrapper:hover .fa-arrows-up-down-left-right {
    visibility: visible;
}

hr {
    border: 0.5px solid #b3b3b3;
    width: 50%;
    height: 0.5px;


}

.add_work {
    border: none;
    padding: 1em;
}

.delete_gallery {
    color: red;
    cursor: pointer;
}

/* 2e modale  */
.modal-wrapper2 {
    overflow: auto;
    
    
}
#modal2 form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal2_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.fa-arrow-left {
    cursor: pointer;
}

#modal2 h3 {
    font-weight: 400;
    margin-bottom: 2rem;
}

.modal2_add_picture_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #E8F1F6;
    width: 30vw;
    
    
    
}
.add_file_design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 30vw;
    
}

.modal2_add_picture_box p {
    color: gray;
    margin-top: 0.5rem;
}

.fa-image {
    color: gray;
    font-size: 4.5rem;
 
}

.btn_add_file {
    text-align: center;
    min-width: 200px;
    padding: 0.8rem;
    border-radius: 20px;
    margin-top: 1rem;
    font-weight: 600;
    color: #4e85a3;
    background-color: rgba(174, 182, 200, 0.662);
    cursor: pointer;
}

.modal_form_description {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#modal2 input, #modal2 select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
}
#modal2 label {
	margin: 2em 0 1em 0;
    font-family: 'Work Sans';
}

#modal2_submit {
    min-width: 300px;
    background-color: #b3b3b3;  
    cursor: default;
    margin-bottom: 1rem;
   
}


#modal2 hr {
    margin-top: 2rem;
    width: 100%;
}


.preview img {
    width: 200px;
    object-fit: cover;
    
}


